.dark {
  --md-sys-color-primary: rgb(140 213 180);
  --md-sys-color-surface-tint: rgb(140 213 180);
  --md-sys-color-on-primary: rgb(0 56 39);
  --md-sys-color-primary-container: rgb(0 81 58);
  --md-sys-color-on-primary-container: rgb(167 242 207);
  --md-sys-color-secondary: rgb(179 204 190);
  --md-sys-color-on-secondary: rgb(31 53 43);
  --md-sys-color-secondary-container: rgb(53 75 65);
  --md-sys-color-on-secondary-container: rgb(207 233 218);
  --md-sys-color-tertiary: rgb(166 204 223);
  --md-sys-color-on-tertiary: rgb(8 53 68);
  --md-sys-color-tertiary-container: rgb(37 75 91);
  --md-sys-color-on-tertiary-container: rgb(193 232 252);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(15 21 18);
  --md-sys-color-on-background: rgb(222 228 222);
  --md-sys-color-surface: rgb(15 21 18);
  --md-sys-color-on-surface: rgb(222 228 222);
  --md-sys-color-surface-variant: rgb(64 73 68);
  --md-sys-color-on-surface-variant: rgb(191 201 194);
  --md-sys-color-outline: rgb(137 147 141);
  --md-sys-color-outline-variant: rgb(64 73 68);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 222);
  --md-sys-color-inverse-on-surface: rgb(44 50 46);
  --md-sys-color-inverse-primary: rgb(29 107 79);
  --md-sys-color-primary-fixed: rgb(167 242 207);
  --md-sys-color-on-primary-fixed: rgb(0 33 21);
  --md-sys-color-primary-fixed-dim: rgb(140 213 180);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 58);
  --md-sys-color-secondary-fixed: rgb(207 233 218);
  --md-sys-color-on-secondary-fixed: rgb(9 32 23);
  --md-sys-color-secondary-fixed-dim: rgb(179 204 190);
  --md-sys-color-on-secondary-fixed-variant: rgb(53 75 65);
  --md-sys-color-tertiary-fixed: rgb(193 232 252);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 42);
  --md-sys-color-tertiary-fixed-dim: rgb(166 204 223);
  --md-sys-color-on-tertiary-fixed-variant: rgb(37 75 91);
  --md-sys-color-surface-dim: rgb(15 21 18);
  --md-sys-color-surface-bright: rgb(53 59 55);
  --md-sys-color-surface-container-lowest: rgb(10 15 13);
  --md-sys-color-surface-container-low: rgb(23 29 26);
  --md-sys-color-surface-container: rgb(27 33 30);
  --md-sys-color-surface-container-high: rgb(37 43 40);
  --md-sys-color-surface-container-highest: rgb(48 54 51);
}
