.light-medium-contrast {
  --md-sys-color-primary: rgb(0 63 44);
  --md-sys-color-surface-tint: rgb(29 107 79);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(48 122 94);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(37 59 49);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(91 114 102);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(17 59 74);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(77 114 131);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(245 251 245);
  --md-sys-color-on-background: rgb(23 29 26);
  --md-sys-color-surface: rgb(245 251 245);
  --md-sys-color-on-surface: rgb(13 18 15);
  --md-sys-color-surface-variant: rgb(219 229 222);
  --md-sys-color-on-surface-variant: rgb(47 56 51);
  --md-sys-color-outline: rgb(75 85 79);
  --md-sys-color-outline-variant: rgb(102 111 105);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 50 46);
  --md-sys-color-inverse-on-surface: rgb(236 242 237);
  --md-sys-color-inverse-primary: rgb(140 213 180);
  --md-sys-color-primary-fixed: rgb(48 122 94);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(14 97 70);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(91 114 102);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(67 90 78);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(77 114 131);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(52 90 106);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(194 200 195);
  --md-sys-color-surface-bright: rgb(245 251 245);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 239);
  --md-sys-color-surface-container: rgb(228 234 228);
  --md-sys-color-surface-container-high: rgb(216 222 217);
  --md-sys-color-surface-container-highest: rgb(205 211 206);
}
